[Unit]
Description=Start watching radio folder db
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/radio-db-sync-libretime4 -w
User=www-data
Group=www-data
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
